/*
 * Sticky footer
 */

@footer-height: 20px;

body {

	margin-bottom: @footer-height;

}

footer {

	//.make-row();
	position: absolute;
	bottom: 0;
	width: 100%;
	height: @footer-height;
	text-align: center;
	color: grey;
	line-height: @footer-height;

	.footer-content {

		.make-xs-column(12);

	}
}
