/**
 * Selling interstitial
 */

span.interstitial-step-numbers {
	.center-block();
	text-align: center;
	font-size: 28px;
	font-weight: bolder;
	color: #999999;
}

p.interstitial-step-desc {
	text-align: center;
}