/* Member Dash Home */

#dashboard-header {

	.make-row();

	div {

		.text-center();
		padding-bottom: 10px;
		.make-xs-column(12);
		.make-sm-column(4);
		.make-sm-column-offset(4);

	}
	
}

section.member-dashboard-boxout {

	.make-row();
	min-height: 200px;

	padding: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	border: 1px solid gray;
	border-radius: 5px;

	div.member-dashboard-boxout-lhs {

		.make-sm-column(3);

		p.active-item {
			a, a:active, a:focus {
				font-weight: bolder !important;
				text-decoration: none;
				cursor: default;
			}
		}

	}

	div.member-dashboard-boxout-rhs {

		.make-sm-column(9);
		padding-left: 0;
	}
}