/*
 * Search page and navbar popover
 */

#search-popover > div.input-group {
	width: 200px;
}

div.search-wrapper {

	section.search-searchbox {

		.make-row();

		padding-top: 20px;

		div.search-type {

			.make-sm-column(3);
			.make-md-column(2);

		}

		div.search-freetext {

			.make-sm-column(9);
			.make-md-column(10);

		}

	}

	section.search-results-container {

		.make-row();

		div.search-results-help {

			.make-xs-column(12);

		}

		.not-found-content() {

			margin-top: 20px;
			.make-row();
			.make-sm-column(6);
			.make-sm-column-offset(3);
			.make-xs-column(8);
			.make-xs-column-offset(2);

		}

		div.search-results-empty-image {

			.not-found-content();

			img {
				.img-responsive();
				border-radius: 5px;
				box-shadow: 5px gray;
			}

		}

		div.search-results-empty-text {

			.not-found-content();

			text-align: center;

		}

		div.search-results {

			.make-xs-column(12);

		}

	}
}
