// General setup
html {
  position: relative;
  min-height: 100%;
}
body {
	background-color: #aaaaaa;
	color: black;
	font-family: Lato, Sans-serif;
}
a {
	text-transform: uppercase;
}

// Import Bootstrap mixins
@import "../../../public/bower_components/bootstrap/less/variables";
@import "../../../public/bower_components/bootstrap/less/mixins";
@import "../../../public/bower_components/bootstrap/less/responsive-utilities";
@import "../../../public/bower_components/bootstrap/less/utilities";
@import "../../../public/bower_components/bootstrap/less/thumbnails";
@import "../../../public/bower_components/bootstrap/less/wells";
@import "../../../public/bower_components/bootstrap/less/type";


// Import each styling partial
@import "../components/variables";
@import "../components/admin-dashboard";
