// General setup
html {
  position: relative;
  min-height: 100%;
}
body {
	background-color: #f5f1ed;
	color: black;
	font-family: Lato, Sans-serif;
}

// Uppercase all links
a, input[type="submit"], button {
	text-transform: uppercase;
	font-weight: normal !important;
}

// Well, not all...
td > a {
	text-transform: none;
}

// Remove Firefox outlining
:focus {
	outline: none !important;
	outline-style: none;
	outline-width: 0;
}


// Import Bootstrap mixins
@import "../../../public/bower_components/bootstrap/less/variables";
@import "../../../public/bower_components/bootstrap/less/mixins";
@import "../../../public/bower_components/bootstrap/less/responsive-utilities";
@import "../../../public/bower_components/bootstrap/less/utilities";
@import "../../../public/bower_components/bootstrap/less/thumbnails";
@import "../../../public/bower_components/bootstrap/less/wells";
@import "../../../public/bower_components/bootstrap/less/type";


// Import each styling partial
@import "../components/variables";
@import "../components/general";
@import "../components/nav";
@import "../components/home";
@import "../components/buying-home";
@import "../components/footer";
@import "../components/category";
@import "../components/advert";
@import "../components/cms-page";
@import "../components/auth";
@import "../components/search";
@import "../components/member-dashboard";
@import "../components/member-dashboard-home";
@import "../components/interstitial";
