html {
  position: relative;
  min-height: 100%;
}
body {
  background-color: #f5f1ed;
  color: black;
  font-family: Lato, Sans-serif;
}
a,
input[type="submit"],
button {
  text-transform: uppercase;
  font-weight: normal !important;
}
td > a {
  text-transform: none;
}
:focus {
  outline: none !important;
  outline-style: none;
  outline-width: 0;
}
@-ms-viewport {
  width: device-width;
}
.visible-xs,
.visible-sm,
.visible-md,
.visible-lg {
  display: none !important;
}
.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block {
  display: none !important;
}
@media (max-width: 767px) {
  .visible-xs {
    display: block !important;
  }
  table.visible-xs {
    display: table !important;
  }
  tr.visible-xs {
    display: table-row !important;
  }
  th.visible-xs,
  td.visible-xs {
    display: table-cell !important;
  }
}
@media (max-width: 767px) {
  .visible-xs-block {
    display: block !important;
  }
}
@media (max-width: 767px) {
  .visible-xs-inline {
    display: inline !important;
  }
}
@media (max-width: 767px) {
  .visible-xs-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm {
    display: block !important;
  }
  table.visible-sm {
    display: table !important;
  }
  tr.visible-sm {
    display: table-row !important;
  }
  th.visible-sm,
  td.visible-sm {
    display: table-cell !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-block {
    display: block !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline {
    display: inline !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md {
    display: block !important;
  }
  table.visible-md {
    display: table !important;
  }
  tr.visible-md {
    display: table-row !important;
  }
  th.visible-md,
  td.visible-md {
    display: table-cell !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-block {
    display: block !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline {
    display: inline !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg {
    display: block !important;
  }
  table.visible-lg {
    display: table !important;
  }
  tr.visible-lg {
    display: table-row !important;
  }
  th.visible-lg,
  td.visible-lg {
    display: table-cell !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg-block {
    display: block !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg-inline {
    display: inline !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg-inline-block {
    display: inline-block !important;
  }
}
@media (max-width: 767px) {
  .hidden-xs {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md {
    display: none !important;
  }
}
@media (min-width: 1200px) {
  .hidden-lg {
    display: none !important;
  }
}
.visible-print {
  display: none !important;
}
@media print {
  .visible-print {
    display: block !important;
  }
  table.visible-print {
    display: table !important;
  }
  tr.visible-print {
    display: table-row !important;
  }
  th.visible-print,
  td.visible-print {
    display: table-cell !important;
  }
}
.visible-print-block {
  display: none !important;
}
@media print {
  .visible-print-block {
    display: block !important;
  }
}
.visible-print-inline {
  display: none !important;
}
@media print {
  .visible-print-inline {
    display: inline !important;
  }
}
.visible-print-inline-block {
  display: none !important;
}
@media print {
  .visible-print-inline-block {
    display: inline-block !important;
  }
}
@media print {
  .hidden-print {
    display: none !important;
  }
}
.clearfix:before,
.clearfix:after,
.dl-horizontal dd:before,
.dl-horizontal dd:after,
section.home-main div.home-wrapper:before,
section.home-main div.home-wrapper:after,
section.buying-home-main div.buying-home-wrapper:before,
section.buying-home-main div.buying-home-wrapper:after,
div.category-wrapper:before,
div.category-wrapper:after,
section.category-nav:before,
section.category-nav:after,
div.listing-list:before,
div.listing-list:after,
div.category-list:before,
div.category-list:after,
div.listing-wrapper:before,
div.listing-wrapper:after,
section.listing-nav:before,
section.listing-nav:after,
section.listing-infobox:before,
section.listing-infobox:after,
div.page-wrapper:before,
div.page-wrapper:after,
section.auth-main:before,
section.auth-main:after,
div.search-wrapper section.search-searchbox:before,
div.search-wrapper section.search-searchbox:after,
div.search-wrapper section.search-results-container:before,
div.search-wrapper section.search-results-container:after,
div.search-wrapper section.search-results-container div.search-results-empty-image:before,
div.search-wrapper section.search-results-container div.search-results-empty-image:after,
div.search-wrapper section.search-results-container div.search-results-empty-text:before,
div.search-wrapper section.search-results-container div.search-results-empty-text:after,
#dashboard-header:before,
#dashboard-header:after,
section.member-dashboard-boxout:before,
section.member-dashboard-boxout:after {
  content: " ";
  display: table;
}
.clearfix:after,
.dl-horizontal dd:after,
section.home-main div.home-wrapper:after,
section.buying-home-main div.buying-home-wrapper:after,
div.category-wrapper:after,
section.category-nav:after,
div.listing-list:after,
div.category-list:after,
div.listing-wrapper:after,
section.listing-nav:after,
section.listing-infobox:after,
div.page-wrapper:after,
section.auth-main:after,
div.search-wrapper section.search-searchbox:after,
div.search-wrapper section.search-results-container:after,
div.search-wrapper section.search-results-container div.search-results-empty-image:after,
div.search-wrapper section.search-results-container div.search-results-empty-text:after,
#dashboard-header:after,
section.member-dashboard-boxout:after {
  clear: both;
}
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}
.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.invisible {
  visibility: hidden;
}
.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.hidden {
  display: none !important;
}
.affix {
  position: fixed;
}
.thumbnail {
  display: block;
  padding: 4px;
  margin-bottom: 20px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-transition: border 0.2s ease-in-out;
  -o-transition: border 0.2s ease-in-out;
  transition: border 0.2s ease-in-out;
}
.thumbnail > img,
.thumbnail a > img {
  margin-left: auto;
  margin-right: auto;
}
a.thumbnail:hover,
a.thumbnail:focus,
a.thumbnail.active {
  border-color: #337ab7;
}
.thumbnail .caption {
  padding: 9px;
  color: #333333;
}
.well {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
.well blockquote {
  border-color: #ddd;
  border-color: rgba(0, 0, 0, 0.15);
}
.well-lg {
  padding: 24px;
  border-radius: 6px;
}
.well-sm {
  padding: 9px;
  border-radius: 3px;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small,
.h1 small,
.h2 small,
.h3 small,
.h4 small,
.h5 small,
.h6 small,
h1 .small,
h2 .small,
h3 .small,
h4 .small,
h5 .small,
h6 .small,
.h1 .small,
.h2 .small,
.h3 .small,
.h4 .small,
.h5 .small,
.h6 .small {
  font-weight: normal;
  line-height: 1;
  color: #777777;
}
h1,
.h1,
h2,
.h2,
h3,
.h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}
h1 small,
.h1 small,
h2 small,
.h2 small,
h3 small,
.h3 small,
h1 .small,
.h1 .small,
h2 .small,
.h2 .small,
h3 .small,
.h3 .small {
  font-size: 65%;
}
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  margin-top: 10px;
  margin-bottom: 10px;
}
h4 small,
.h4 small,
h5 small,
.h5 small,
h6 small,
.h6 small,
h4 .small,
.h4 .small,
h5 .small,
.h5 .small,
h6 .small,
.h6 .small {
  font-size: 75%;
}
h1,
.h1 {
  font-size: 36px;
}
h2,
.h2 {
  font-size: 30px;
}
h3,
.h3 {
  font-size: 24px;
}
h4,
.h4 {
  font-size: 18px;
}
h5,
.h5 {
  font-size: 14px;
}
h6,
.h6 {
  font-size: 12px;
}
p {
  margin: 0 0 10px;
}
.lead {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.4;
}
@media (min-width: 768px) {
  .lead {
    font-size: 21px;
  }
}
small,
.small {
  font-size: 85%;
}
mark,
.mark {
  background-color: #fcf8e3;
  padding: .2em;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.text-justify {
  text-align: justify;
}
.text-nowrap {
  white-space: nowrap;
}
.text-lowercase {
  text-transform: lowercase;
}
.text-uppercase {
  text-transform: uppercase;
}
.text-capitalize {
  text-transform: capitalize;
}
.text-muted {
  color: #777777;
}
.text-primary {
  color: #337ab7;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #286090;
}
.text-success {
  color: #3c763d;
}
a.text-success:hover,
a.text-success:focus {
  color: #2b542c;
}
.text-info {
  color: #31708f;
}
a.text-info:hover,
a.text-info:focus {
  color: #245269;
}
.text-warning {
  color: #8a6d3b;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #66512c;
}
.text-danger {
  color: #a94442;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #843534;
}
.bg-primary {
  color: #fff;
  background-color: #337ab7;
}
a.bg-primary:hover,
a.bg-primary:focus {
  background-color: #286090;
}
.bg-success {
  background-color: #dff0d8;
}
a.bg-success:hover,
a.bg-success:focus {
  background-color: #c1e2b3;
}
.bg-info {
  background-color: #d9edf7;
}
a.bg-info:hover,
a.bg-info:focus {
  background-color: #afd9ee;
}
.bg-warning {
  background-color: #fcf8e3;
}
a.bg-warning:hover,
a.bg-warning:focus {
  background-color: #f7ecb5;
}
.bg-danger {
  background-color: #f2dede;
}
a.bg-danger:hover,
a.bg-danger:focus {
  background-color: #e4b9b9;
}
.page-header {
  padding-bottom: 9px;
  margin: 40px 0 20px;
  border-bottom: 1px solid #eeeeee;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 10px;
}
ul ul,
ol ul,
ul ol,
ol ol {
  margin-bottom: 0;
}
.list-unstyled {
  padding-left: 0;
  list-style: none;
}
.list-inline {
  padding-left: 0;
  list-style: none;
  margin-left: -5px;
}
.list-inline > li {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}
dl {
  margin-top: 0;
  margin-bottom: 20px;
}
dt,
dd {
  line-height: 1.42857143;
}
dt {
  font-weight: bold;
}
dd {
  margin-left: 0;
}
@media (min-width: 768px) {
  .dl-horizontal dt {
    float: left;
    width: 160px;
    clear: left;
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .dl-horizontal dd {
    margin-left: 180px;
  }
}
abbr[title],
abbr[data-original-title] {
  cursor: help;
  border-bottom: 1px dotted #777777;
}
.initialism {
  font-size: 90%;
  text-transform: uppercase;
}
blockquote {
  padding: 10px 20px;
  margin: 0 0 20px;
  font-size: 17.5px;
  border-left: 5px solid #eeeeee;
}
blockquote p:last-child,
blockquote ul:last-child,
blockquote ol:last-child {
  margin-bottom: 0;
}
blockquote footer,
blockquote small,
blockquote .small {
  display: block;
  font-size: 80%;
  line-height: 1.42857143;
  color: #777777;
}
blockquote footer:before,
blockquote small:before,
blockquote .small:before {
  content: '\2014 \00A0';
}
.blockquote-reverse,
blockquote.pull-right {
  padding-right: 15px;
  padding-left: 0;
  border-right: 5px solid #eeeeee;
  border-left: 0;
  text-align: right;
}
.blockquote-reverse footer:before,
blockquote.pull-right footer:before,
.blockquote-reverse small:before,
blockquote.pull-right small:before,
.blockquote-reverse .small:before,
blockquote.pull-right .small:before {
  content: '';
}
.blockquote-reverse footer:after,
blockquote.pull-right footer:after,
.blockquote-reverse small:after,
blockquote.pull-right small:after,
.blockquote-reverse .small:after,
blockquote.pull-right .small:after {
  content: '\00A0 \2014';
}
address {
  margin-bottom: 20px;
  font-style: normal;
  line-height: 1.42857143;
}
/*
 * Variables
 */
/*
 * General shared styles
 */
ul.breadcrumb {
  text-size: smaller;
  background: none;
  padding: 0;
}
ul.breadcrumb a {
  font-weight: bolder;
}
div.popover-content p {
  color: black;
  text-align: justify;
}
th.table-widget-fixed-column {
  width: 10%;
}
/* Nav bars overrides */
a.navbar-brand {
  font-family: Josefin Sans, Serif;
  font-size: 18px;
  text-transform: none !important;
}
@media (min-width: 768px) {
  header.cc-navbar-main a.social-link {
    padding-right: 0px;
  }
  header.cc-navbar-main a.social-link span {
    display: none;
  }
}
header.cc-navbar-main a.social-link img {
  max-height: 14px;
  display: inline;
}
header.cc-navbar-members {
  margin-top: -20px;
}
@media (max-width: 767px) {
  header.cc-navbar-members .navbar-collapse.collapse {
    display: block!important;
  }
  header.cc-navbar-members .navbar-nav > li,
  header.cc-navbar-members .navbar-nav {
    float: left !important;
  }
  header.cc-navbar-members .navbar-nav.navbar-right:last-child {
    margin-right: -15px !important;
  }
  header.cc-navbar-members .navbar-right {
    float: none;
  }
}
.label-as-badge {
  border-radius: 1em;
}
/*
 * Homepage
 */
section.home-main div.home-wrapper {
  padding-top: 20px;
  margin-left: -15px;
  margin-right: -15px;
}
section.home-main div.home-wrapper div.logo {
  position: relative;
  float: left;
  width: 100%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
section.home-main div.home-wrapper div.logo img {
  margin-left: auto;
  margin-right: auto;
  display: block;
  max-width: 100%;
  height: auto;
}
section.home-main div.home-wrapper div.blurb {
  position: relative;
  float: left;
  width: 66.66666667%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 16.66666667%;
  padding: 15px;
  margin-top: 15px;
}
section.home-main div.home-wrapper div.blurb p {
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  padding: 20px;
  display: block;
  color: white;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}
/*
 * Homepage
 */
section.buying-home-main div.buying-home-wrapper {
  padding-top: 20px;
  margin-left: -15px;
  margin-right: -15px;
}
@media (max-width: 767px) {
  div.specialism-outer {
    position: relative;
    float: left;
    width: 50%;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
  }
  div.specialism-outer div.specialism-inner {
    position: relative;
    float: left;
    width: 100%;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 20px;
  }
}
@media (min-width: 768px) {
  div.specialism-outer {
    position: relative;
    float: left;
    width: 50%;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
  }
  div.specialism-outer div.specialism-inner {
    position: relative;
    float: left;
    width: 66.66666667%;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    padding: 0;
  }
}
@media (min-width: 768px) {
  div.specialism-outer div.specialism-inner-lhs {
    margin-left: 33.33333333%;
  }
  div.specialism-outer div.specialism-inner-rhs {
    margin-left: 0%;
  }
}
div.specialism-outer div.specialism-inner img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
div.specialism-outer div.specialism-inner h2 {
  text-align: center;
  text-transform: none;
  font-weight: lighter;
  color: #555;
  font-size: 4rem;
  margin-top: 5px;
}
@media (max-width: 767px) {
  div.specialism-outer div.specialism-inner h2 {
    font-size: 2rem;
  }
}
div.specialism-outer div.specialism-inner:hover a,
div.specialism-outer div.specialism-inner:hover h2 {
  text-decoration: none;
  color: black;
}
/*
 * Sticky footer
 */
body {
  margin-bottom: 20px;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 20px;
  text-align: center;
  color: grey;
  line-height: 20px;
}
footer .footer-content {
  position: relative;
  float: left;
  width: 100%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
/*
 * Categories
 */
div.category-wrapper {
  margin-left: -15px;
  margin-right: -15px;
}
section.category-nav {
  margin-left: -15px;
  margin-right: -15px;
  margin: 0;
}
section.category-nav:before,
section.category-nav:after {
  content: " ";
  display: table;
}
section.category-nav:after {
  clear: both;
}
section.category-nav:before,
section.category-nav:after {
  content: " ";
  display: table;
}
section.category-nav:after {
  clear: both;
}
section.category-nav div.category-nav-container {
  position: relative;
  float: left;
  width: 100%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
section.category-nav #toggle-filters-button {
  float: left !important;
  margin-right: 10px;
  outline: none;
}
section.category-search {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
  background-color: #f8f8f8;
  margin-top: 10px;
  padding: 20px;
  height: 100%;
}
@media (min-width: 768px) {
  section.category-search {
    float: left;
    width: 25%;
  }
}
section.category-search .category-search-label {
  text-align: center;
  margin: -10px 0 20px;
}
section.category-search .slider-horizontal {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}
section.category-search #filters-progress-bar {
  display: none;
}
section.category-search #filters-progress-bar img {
  margin-left: auto;
  margin-right: auto;
  display: block;
  max-width: 100%;
  height: auto;
}
section.category-search .no-filters-available {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
section.category-search .no-filters-available blockquote {
  border-color: #ddd;
  border-color: rgba(0, 0, 0, 0.15);
}
section.category-search .no-filters-available p {
  font-weight: bold;
  text-align: center;
}
section.category-main-filters-enabled {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  section.category-main-filters-enabled {
    float: left;
    width: 75%;
  }
}
section.category-main-filters-hidden {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  section.category-main-filters-hidden {
    float: left;
    width: 100%;
  }
}
div.listing-item-filters-enabled {
  float: left;
  width: 50%;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  div.listing-item-filters-enabled {
    float: left;
    width: 33.33333333%;
  }
}
div.listing-item-filters-hidden {
  float: left;
  width: 50%;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  div.listing-item-filters-hidden {
    float: left;
    width: 25%;
  }
}
p.category-no-results {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  color: black;
  font-style: italic;
  text-align: center;
}
p.category-no-results blockquote {
  border-color: #ddd;
  border-color: rgba(0, 0, 0, 0.15);
}
div.listing-list {
  margin-left: -15px;
  margin-right: -15px;
}
div.listing-list:before,
div.listing-list:after {
  content: " ";
  display: table;
}
div.listing-list:after {
  clear: both;
}
div.listing-list:before,
div.listing-list:after {
  content: " ";
  display: table;
}
div.listing-list:after {
  clear: both;
}
div.listing-list div.listing-item div.listing-item-container {
  text-align: left;
  margin-bottom: 20px;
}
div.listing-list div.listing-item div.listing-item-container:before,
div.listing-list div.listing-item div.listing-item-container:after {
  content: " ";
  display: table;
}
div.listing-list div.listing-item div.listing-item-container:after {
  clear: both;
}
div.listing-list div.listing-item div.listing-item-container:before,
div.listing-list div.listing-item div.listing-item-container:after {
  content: " ";
  display: table;
}
div.listing-list div.listing-item div.listing-item-container:after {
  clear: both;
}
div.listing-list div.listing-item div.listing-item-container img {
  background-color: white;
  display: block;
  max-width: 100%;
  height: auto;
}
div.listing-list div.listing-item div.listing-item-container div.listing-item-name-and-location {
  float: left;
  padding: 10px 10px 0;
  width: 60%;
  text-transform: none;
  color: #555;
}
div.listing-list div.listing-item div.listing-item-container div.listing-item-price {
  float: right;
  padding: 10px 10px 0;
  width: 40%;
  text-align: right;
  text-transform: none;
  color: #555;
}
div.listing-list div.listing-item div.listing-item-container:hover div.listing-item-name-and-location,
div.listing-list div.listing-item div.listing-item-container:hover div.listing-item-price {
  color: black;
}
div.category-list {
  margin-left: -15px;
  margin-right: -15px;
}
div.category-list:before,
div.category-list:after {
  content: " ";
  display: table;
}
div.category-list:after {
  clear: both;
}
div.category-list:before,
div.category-list:after {
  content: " ";
  display: table;
}
div.category-list:after {
  clear: both;
}
div.category-list div.category-item {
  float: left;
  width: 50%;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  div.category-list div.category-item {
    float: left;
    width: 33.33333333%;
  }
}
div.category-list div.category-item div.category-item-container {
  text-align: left;
  margin-bottom: 20px;
}
div.category-list div.category-item div.category-item-container:before,
div.category-list div.category-item div.category-item-container:after {
  content: " ";
  display: table;
}
div.category-list div.category-item div.category-item-container:after {
  clear: both;
}
div.category-list div.category-item div.category-item-container:before,
div.category-list div.category-item div.category-item-container:after {
  content: " ";
  display: table;
}
div.category-list div.category-item div.category-item-container:after {
  clear: both;
}
div.category-list div.category-item div.category-item-container img {
  background-color: white;
  display: block;
  max-width: 100%;
  height: auto;
}
div.category-list div.category-item div.category-item-container div.category-name {
  font-size: larger;
  padding: 10px 10px 0;
  text-transform: none;
  color: #555;
}
div.category-list div.category-item div.category-item-container:hover div.category-name {
  color: black;
}
/*
 * Adverts
 */
div.listing-preview-container {
  border: 1px dotted #cccccc;
  box-shadow: 10px 10px 5px #888888;
  padding: 10px;
  margin: 10px;
}
div.listing-wrapper {
  margin-left: -15px;
  margin-right: -15px;
}
section.listing-nav {
  margin-left: -15px;
  margin-right: -15px;
  margin: 0;
}
section.listing-nav:before,
section.listing-nav:after {
  content: " ";
  display: table;
}
section.listing-nav:after {
  clear: both;
}
section.listing-nav:before,
section.listing-nav:after {
  content: " ";
  display: table;
}
section.listing-nav:after {
  clear: both;
}
section.listing-nav div.listing-nav-container {
  position: relative;
  float: left;
  width: 33.33333333%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
section.listing-nav div.listing-action-links {
  position: relative;
  float: left;
  width: 66.66666667%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: right;
}
section.listing-nav div.listing-action-links a.btn-xs {
  margin: 0 0 0 10px;
}
section.listing-infobox {
  margin-left: -15px;
  margin-right: -15px;
}
section.listing-infobox > div {
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
  background-color: #f8f8f8;
  color: black;
  margin: 0 15px 10px;
}
section.listing-infobox > div:before,
section.listing-infobox > div:after {
  content: " ";
  display: table;
}
section.listing-infobox > div:after {
  clear: both;
}
section.listing-infobox > div:before,
section.listing-infobox > div:after {
  content: " ";
  display: table;
}
section.listing-infobox > div:after {
  clear: both;
}
section.listing-infobox div.listing-title {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  section.listing-infobox div.listing-title {
    float: left;
    width: 100%;
  }
}
section.listing-infobox div.listing-location-and-price p {
  position: relative;
  float: left;
  width: 50%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  font-weight: bolder;
}
section.listing-infobox div.listing-location-and-price p:nth-of-type(2) {
  text-align: right;
}
section.listing-body {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  section.listing-body {
    float: left;
    width: 33.33333333%;
  }
}
section.listing-free-text {
  position: relative;
  float: left;
  width: 100%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
section.listing-postage-options {
  position: relative;
  float: left;
  width: 100%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
  background-color: #f8f8f8;
  color: black;
  padding: 0 15px;
  margin-top: 10px;
}
section.listing-postage-options ul {
  margin: 15px;
  padding: 0;
}
section.listing-images {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 1200px) {
  section.listing-images {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}
@media (min-width: 768px) {
  section.listing-images {
    float: left;
    width: 66.66666667%;
  }
}
section.listing-images:before,
section.listing-images:after {
  content: " ";
  display: table;
}
section.listing-images:after {
  clear: both;
}
section.listing-images:before,
section.listing-images:after {
  content: " ";
  display: table;
}
section.listing-images:after {
  clear: both;
}
section.listing-images #bx-controls-custom {
  display: inline-block;
  font-size: 22px;
  text-align: center;
}
@media (max-width: 767px) {
  section.listing-images #bx-controls-custom {
    width: 8%;
  }
}
@media (min-width: 768px) {
  section.listing-images #bx-controls-custom {
    width: 7%;
  }
}
@media (min-width: 992px) {
  section.listing-images #bx-controls-custom {
    width: 6%;
  }
}
@media (min-width: 1200px) {
  section.listing-images #bx-controls-custom {
    width: 5%;
  }
}
section.listing-images #bx-controls-custom a {
  color: #555;
}
section.listing-images #bx-controls-custom a:hover {
  color: black;
}
section.listing-images #bx-controls-custom div {
  border: 1px solid #dddddd;
  height: 50px;
  line-height: 50px;
  vertical-align: center;
}
section.listing-images #bx-controls-custom div:first-child {
  border-top: 2px solid #dddddd;
}
section.listing-images #bx-controls-custom div:last-child {
  border-bottom: 2px solid #dddddd;
}
section.listing-images #bx-controls-custom .bx-counter {
  font-size: 12px;
  color: #555;
  font-weight: bold;
}
section.listing-images #bx-main-custom {
  float: right;
}
@media (max-width: 767px) {
  section.listing-images #bx-main-custom {
    width: 90%;
  }
}
@media (min-width: 768px) {
  section.listing-images #bx-main-custom {
    width: 90%;
  }
}
@media (min-width: 992px) {
  section.listing-images #bx-main-custom {
    width: 92%;
  }
}
@media (min-width: 1200px) {
  section.listing-images #bx-main-custom {
    width: 95%;
  }
}
section.listing-images #bx-main-custom #bx-pager {
  text-align: center;
  margin-top: -40px;
  margin-bottom: 20px;
}
section.listing-images #bx-main-custom #bx-pager img {
  margin: 10px;
}
section.listing-images #bx-main-custom #bx-pager a {
  outline: none;
}
@media (max-width: 767px) {
  section.listing-images #bx-main-custom #bx-pager {
    display: none;
  }
}
section.listing-images .bx-viewport {
  cursor: pointer;
}
section.listing-images .bx-wrapper {
  background: none;
  border: none;
  box-shadow: none;
}
section.listing-images .bx-wrapper:before,
section.listing-images .bx-wrapper:after {
  content: " ";
  display: table;
}
section.listing-images .bx-wrapper:after {
  clear: both;
}
section.listing-images .bx-wrapper:before,
section.listing-images .bx-wrapper:after {
  content: " ";
  display: table;
}
section.listing-images .bx-wrapper:after {
  clear: both;
}
@media (max-width: 767px) {
  section.listing-images .bx-wrapper {
    margin-bottom: 20px;
  }
}
div.listing-reserve-confirm {
  text-align: center;
}
/*
 * CMS Page
 */
div.page-wrapper {
  margin-left: -15px;
  margin-right: -15px;
}
section.cms_page-images {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  section.cms_page-images {
    float: left;
    width: 25%;
  }
}
section.cms_page-images #bx-pager {
  text-align: center;
  margin-top: -40px;
  margin-bottom: 20px;
}
section.cms_page-images #bx-pager:before,
section.cms_page-images #bx-pager:after {
  content: " ";
  display: table;
}
section.cms_page-images #bx-pager:after {
  clear: both;
}
section.cms_page-images #bx-pager:before,
section.cms_page-images #bx-pager:after {
  content: " ";
  display: table;
}
section.cms_page-images #bx-pager:after {
  clear: both;
}
section.cms_page-images #bx-pager img {
  margin: 10px;
  border: 1px dashed white;
}
section.cms_page-images #bx-pager a {
  outline: none;
}
section.page-body {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  section.page-body {
    float: left;
    width: 75%;
  }
}
/*
 * Auth pages
 */
section.auth-main {
  margin-left: -15px;
  margin-right: -15px;
}
section.auth-main div.auth-form-container {
  position: relative;
  float: left;
  width: 83.33333333%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 8.33333333%;
}
@media (min-width: 768px) {
  section.auth-main div.auth-form-container {
    float: left;
    width: 50%;
  }
}
@media (min-width: 768px) {
  section.auth-main div.auth-form-container {
    margin-left: 25%;
  }
}
section.auth-main div.auth-signup-blurb {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
section.auth-main div.auth-signup-blurb blockquote {
  border-color: #ddd;
  border-color: rgba(0, 0, 0, 0.15);
}
/*
 * Search page and navbar popover
 */
#search-popover > div.input-group {
  width: 200px;
}
div.search-wrapper section.search-searchbox {
  margin-left: -15px;
  margin-right: -15px;
  padding-top: 20px;
}
div.search-wrapper section.search-searchbox div.search-type {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  div.search-wrapper section.search-searchbox div.search-type {
    float: left;
    width: 25%;
  }
}
@media (min-width: 992px) {
  div.search-wrapper section.search-searchbox div.search-type {
    float: left;
    width: 16.66666667%;
  }
}
div.search-wrapper section.search-searchbox div.search-freetext {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  div.search-wrapper section.search-searchbox div.search-freetext {
    float: left;
    width: 75%;
  }
}
@media (min-width: 992px) {
  div.search-wrapper section.search-searchbox div.search-freetext {
    float: left;
    width: 83.33333333%;
  }
}
div.search-wrapper section.search-results-container {
  margin-left: -15px;
  margin-right: -15px;
}
div.search-wrapper section.search-results-container div.search-results-help {
  position: relative;
  float: left;
  width: 100%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
div.search-wrapper section.search-results-container div.search-results-empty-image {
  margin-top: 20px;
  margin-left: -15px;
  margin-right: -15px;
  position: relative;
  float: left;
  width: 66.66666667%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 16.66666667%;
}
@media (min-width: 768px) {
  div.search-wrapper section.search-results-container div.search-results-empty-image {
    float: left;
    width: 50%;
  }
}
@media (min-width: 768px) {
  div.search-wrapper section.search-results-container div.search-results-empty-image {
    margin-left: 25%;
  }
}
div.search-wrapper section.search-results-container div.search-results-empty-image img {
  display: block;
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  box-shadow: 5px gray;
}
div.search-wrapper section.search-results-container div.search-results-empty-text {
  margin-top: 20px;
  margin-left: -15px;
  margin-right: -15px;
  position: relative;
  float: left;
  width: 66.66666667%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 16.66666667%;
  text-align: center;
}
@media (min-width: 768px) {
  div.search-wrapper section.search-results-container div.search-results-empty-text {
    float: left;
    width: 50%;
  }
}
@media (min-width: 768px) {
  div.search-wrapper section.search-results-container div.search-results-empty-text {
    margin-left: 25%;
  }
}
div.search-wrapper section.search-results-container div.search-results {
  position: relative;
  float: left;
  width: 100%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
/*
	Bootstrap styling overrides
 */
/* Tables */
table {
  font-size: 16px;
}
table .data-table > tbody > tr > td {
  vertical-align: middle;
}
/* Textareas */
textarea {
  height: 300px;
}
/* Listings Tabs */
div.tab-content {
  margin-top: 20px;
}
/* Large tick/crosses */
.glyphicon-large {
  font-size: 130px;
  text-align: center;
  display: block;
}
/* Galleries */
.dropzone.dz-clickable {
  cursor: pointer;
}
.dropzone {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
.dropzone blockquote {
  border-color: #ddd;
  border-color: rgba(0, 0, 0, 0.15);
}
.dz-message {
  font-weight: bold;
  font-size: large;
}
.gallery-finish-boxout {
  text-align: center;
}
.sortable-item {
  cursor: move;
}
/* Dashboard */
.dashboard-heading {
  margin-top: 0;
}
/* Drilldown menus */
.drilldown-1 {
  width: 20%;
}
.drilldown-2 {
  width: 30%;
}
.drilldown-3 {
  width: 50%;
}
/* Member Dash Home */
#dashboard-header {
  margin-left: -15px;
  margin-right: -15px;
}
#dashboard-header div {
  text-align: center;
  padding-bottom: 10px;
  float: left;
  width: 100%;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  #dashboard-header div {
    float: left;
    width: 33.33333333%;
  }
}
@media (min-width: 768px) {
  #dashboard-header div {
    margin-left: 33.33333333%;
  }
}
section.member-dashboard-boxout {
  margin-left: -15px;
  margin-right: -15px;
  min-height: 200px;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid gray;
  border-radius: 5px;
}
section.member-dashboard-boxout div.member-dashboard-boxout-lhs {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  section.member-dashboard-boxout div.member-dashboard-boxout-lhs {
    float: left;
    width: 25%;
  }
}
section.member-dashboard-boxout div.member-dashboard-boxout-lhs p.active-item a,
section.member-dashboard-boxout div.member-dashboard-boxout-lhs p.active-item a:active,
section.member-dashboard-boxout div.member-dashboard-boxout-lhs p.active-item a:focus {
  font-weight: bolder !important;
  text-decoration: none;
  cursor: default;
}
section.member-dashboard-boxout div.member-dashboard-boxout-rhs {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  padding-left: 0;
}
@media (min-width: 768px) {
  section.member-dashboard-boxout div.member-dashboard-boxout-rhs {
    float: left;
    width: 75%;
  }
}
/**
 * Selling interstitial
 */
span.interstitial-step-numbers {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 28px;
  font-weight: bolder;
  color: #999999;
}
p.interstitial-step-desc {
  text-align: center;
}
